<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="com.klinker.android.messaging_donate"
    android:versionCode="218"
    android:versionName="7.70 Beta 3" >

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.provider.Telephony.SMS_RECEIVED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-permission android:name="robj.floating.notifications.DISMISS" />
    <uses-permission android:name="robj.floating.notifications.EXTENSION" />

    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="ExportedActivity"
        android:hardwareAccelerated="true">
        
        <uses-library android:required="false" android:name="com.sec.android.app.multiwindow" />
		<meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
		
        <activity
            android:name="com.klinker.android.messaging_donate.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop">
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.APP_MESSAGING" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/mms" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android-dir/mms-sms" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android-dir/mms-sms" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
                android:name="com.klinker.android.messaging_sliding.MainActivityPopup"
                android:label="@string/slide_over"
                android:theme="@style/AppBaseThemeDialog"
                android:configChanges="orientation|screenSize"
                android:hardwareAccelerated="true"
                android:windowSoftInputMode="adjustPan"
                android:clearTaskOnLaunch="true"
                android:exported="true"
                tools:ignore="ExportedActivity" >
        </activity>
        
        <activity
            android:name="com.klinker.android.messaging_sliding.quick_reply.QuickReply"
            android:label="@string/quick_reply"
            android:theme="@android:style/Theme.Dialog"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:configChanges="orientation|screenSize">
        </activity>
        
        <activity
            android:name="com.klinker.android.messaging_sliding.quick_reply.CardQuickReply"
            android:label="@string/quick_reply"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize">
        </activity>
        
        <activity
            android:name="com.klinker.android.messaging_sliding.ImageViewer"
            android:label="@string/image_viewer"
            android:theme="@style/AppTheme" >
        </activity>

        <activity
            android:name="com.klinker.android.messaging_donate.settings.SettingsPagerActivity"
            android:label="@string/menu_settings"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
            android:excludeFromRecents="true"
            android:configChanges="orientation" >
        </activity>
        
        <activity
            android:name="com.klinker.android.messaging_donate.settings.TitleBarSettingsActivity"
            android:label="@string/title_bar_settings"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>

        <activity
                android:name="com.klinker.android.messaging_donate.settings.GetHelpSettingsActivity"
                android:label="@string/get_help"
                android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>

        <activity
                android:name="com.klinker.android.messaging_donate.settings.OtherAppsSettingsActivity"
                android:label="@string/other_apps"
                android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>

        <activity
            android:name="com.klinker.android.messaging_sliding.theme.CustomFontSettingsActivity"
            android:label="@string/ct_custom_font"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        
        <activity
            android:name="com.klinker.android.messaging_sliding.mms.APNSettingsActivity"
            android:label="@string/preset_apns"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        
        <activity
            android:name="com.klinker.android.messaging_sliding.theme.CustomThemeActivity"
            android:label="@string/custom_theme_prefs"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>

        <activity
            android:name="com.klinker.android.messaging_sliding.theme.CustomPopupActivity"
            android:label="@string/custom_theme_prefs"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>


        <activity
            android:name="com.klinker.android.messaging_sliding.theme.PopupChooserActivity"
            android:label="@string/popup_theme"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        
        <activity
            android:name="com.klinker.android.messaging_sliding.theme.DefaultThemeActivity"
            android:label="@string/default_theme_prefs"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        
        <activity
            android:name="com.klinker.android.messaging_sliding.theme.ThemeChooserActivity"
            android:label="@string/theme_chooser_prefs"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        
        <activity
            android:name="com.klinker.android.messaging_sliding.batch_delete.BatchDeleteAllActivity"
            android:excludeFromRecents="true"
            android:theme="@style/CardTheme" >
        </activity>

        <activity
                android:name="com.klinker.android.messaging_sliding.batch_delete.BatchDeleteConversationActivity"
                android:excludeFromRecents="true"
                android:theme="@style/CardTheme" >
        </activity>
        
        <activity 
            android:name="com.klinker.android.messaging_sliding.templates.TemplateActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        
        <activity 
            android:name="com.klinker.android.messaging_sliding.notifications.NotificationsSettingsActivity"
            android:label="@string/individual_notification_settings"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        
        <activity 
            android:name="com.klinker.android.messaging_sliding.notifications.ContactFinderActivity"
            android:label="@string/find_contact"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        
        <activity 
            android:name="com.klinker.android.messaging_sliding.notifications.NotificationSetterActivity"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        
        <activity 
            android:name="com.klinker.android.messaging_sliding.blacklist.BlacklistActivity"
            android:label="@string/blacklist_settings"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        
        <activity 
            android:name="com.klinker.android.messaging_sliding.blacklist.NewBlacklistActivity"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        
        <activity 
            android:name="com.klinker.android.messaging_sliding.AttachMore"
            android:label="@string/attach_more">
        </activity>

        <activity
            android:name="com.klinker.android.messaging_donate.widget.WidgetProxyActivity" >
        </activity>
        
        <activity 
            android:name="com.klinker.android.messaging_sliding.quick_reply.SendMessage"
            android:label="@string/app_name"
            android:theme="@style/QuickSendTheme"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:noHistory="true"
            tools:ignore="ExportedActivity" >
        	
            <intent-filter>
   				<action android:name="android.intent.action.SEND" />
   				<category android:name="android.intent.category.DEFAULT" />
   				<data android:mimeType="text/*" />
			</intent-filter>
        </activity>

        <activity
            android:name=".wizardpager.ChangeLogMain"
            android:label="@string/app_name"
            android:theme="@style/WizardTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>

        <activity
                android:name=".wizardpager.InitialSetupMain"
                android:label="@string/app_name"
                android:theme="@style/WizardTheme"
                android:configChanges="orientation"
                android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.klinker.android.messaging_sliding.security.PinActivity"
            android:label="@string/app_name"
            android:theme="@style/WizardTheme" >
        </activity>

        <activity
                android:name="com.klinker.android.messaging_sliding.security.SetPinActivity"
                android:label="@string/app_name"
                android:theme="@style/WizardTheme"
                 >
        </activity>

        <activity
                android:name="com.klinker.android.messaging_sliding.security.PasswordActivity"
                android:label="@string/app_name"
                android:theme="@style/WizardTheme"
                android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>

        <activity
            android:name="com.klinker.android.messaging_sliding.security.SetPasswordActivity"
            android:label="@string/app_name"
            android:theme="@style/WizardTheme"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>

        <activity
                android:name="com.klinker.android.messaging_sliding.scheduled.NewScheduledSms"
                android:label="@string/app_name"
                android:excludeFromRecents="true"
                android:theme="@style/WizardTheme"
                android:windowSoftInputMode="adjustResize"
                android:configChanges="orientation|screenSize">
        </activity>

        <activity
                android:name="com.klinker.android.messaging_sliding.backup.ScheduleBackup"
                android:label="@string/app_name"
                android:excludeFromRecents="true"
                android:theme="@style/WizardTheme"
                android:configChanges="orientation|screenSize">
        </activity>

        <activity
                android:name="com.klinker.android.messaging_sliding.scheduled.ScheduledSms"
                android:excludeFromRecents="true"
                android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>

        <activity
                android:name="group.pals.android.lib.ui.lockpattern.LockPatternActivity"
                android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
                android:screenOrientation="user"
                android:theme="@style/Alp.Theme.Dark" />

        <activity
                android:name="com.klinker.android.messaging_sliding.search.SearchActivity"
                android:label="@string/search"
                android:theme="@style/HangoutsTheme"
                android:configChanges="orientation|screenSize">
                <intent-filter>
                    <action android:name="android.intent.action.SEARCH" />
                </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>
        </activity>

        <activity
                android:name="com.klinker.android.messaging_sliding.search.SearchConversation"
                android:label="@string/search"
                android:theme="@style/HangoutsTheme"
                android:configChanges="orientation|screenSize">
        </activity>

        <activity android:name="com.klinker.android.messaging_sliding.slide_over.SlideOverSettings"
                  android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
                  android:allowTaskReparenting="false"
                  android:taskAffinity="">
        </activity>

        <activity
                android:name="com.klinker.android.messaging_sliding.developer_tips.MainActivity"
                android:label="@string/developer_tips"
                android:excludeFromRecents="true"
                android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
                android:windowSoftInputMode="adjustResize"
                android:configChanges="orientation|screenSize">
        </activity>

        <service
                android:name="com.klinker.android.messaging_sliding.slide_over.SlideOverService" >
            <intent-filter>
                <action android:name="android.intent.action.CONFIGURATION_CHANGED"/>
            </intent-filter>
        </service>

        <service 
            android:name="com.klinker.android.messaging_sliding.quick_reply.QmMarkRead" >
        </service>
        
        <service 
            android:name="com.klinker.android.messaging_sliding.quick_reply.QmDelete" >
        </service>

        <service
            android:name="com.klinker.android.messaging_sliding.receivers.QuickTextService" >
        </service>

        <service
            android:name="com.klinker.android.messaging_sliding.DeleteOldService" >
        </service>
        
        <service
            android:name="com.klinker.android.messaging_sliding.receivers.NotificationRepeaterService" >
        </service>
        
        <service
            android:name="com.klinker.android.messaging_donate.widget.CardWidgetProvider$CardWidgetService2" >
        </service>

        <service
            android:name="com.klinker.android.messaging_donate.widget.CardWidgetProvider2$CardWidgetService3" >
        </service>

        <service
                android:name="com.klinker.android.messaging_sliding.scheduled.ScheduledService" >
        </service>

        <service
                android:name="com.klinker.android.messaging_sliding.backup.BackupService" >
        </service>

        <service
            android:name="com.klinker.android.messaging_sliding.receivers.CacheService" >
        </service>

        <service
            android:name="com.klinker.android.messaging_sliding.receivers.VoiceReceiver" >
        </service>

        <service
            android:name="com.klinker.android.messaging_sliding.mms.MmsReceiverService">
        </service>

        <service
            android:name="com.klinker.android.messaging_donate.receivers.AccessibilityListener"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility_service" />
        </service>

        <service android:name="com.klinker.android.messaging_donate.receivers.NotificationListener"
                 android:label="@string/app_name"
                 android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        
        <service android:name=".widget.MessageDashClockExtension"
     		android:icon="@drawable/ic_launcher"
     		android:label="@string/extension_title"
     		android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA" >
     		<intent-filter>
         		<action android:name="com.google.android.apps.dashclock.Extension" />
     		</intent-filter>
     		<meta-data android:name="protocolVersion" android:value="1" />
     		<meta-data android:name="description"
         			   android:value="@string/extension_description" />
     		<meta-data android:name="settingsActivity"
     		           android:value=".DashClockSettings" />
		</service>
		
        <activity
            android:name=".widget.DashClockSettings"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
            android:exported="true" />
        
        <receiver android:name="com.klinker.android.messaging_sliding.receivers.TextMessageReceiver" >
            <intent-filter android:priority="2"> 
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>

            <intent-filter android:priority="100">
                <action android:name="com.klinker.android.messaging.VOICE_RECEIVED" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.klinker.android.messaging_sliding.receivers.MMSMessageReceiver"
            	  android:permission="android.permission.BROADCAST_WAP_PUSH" > 
            <intent-filter android:priority="2"> 
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
                <data android:mimeType="application/vnd.wap.mms-message" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter> 
        </receiver>
        
        <receiver android:name="com.klinker.android.send_message.SentReceiver" >
            <intent-filter>
                <action android:name="com.klinker.android.send_message.SMS_SENT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter> 
        </receiver>
        
        <receiver android:name="com.klinker.android.send_message.DeliveredReceiver" >
            <intent-filter>
                <action android:name="com.klinker.android.send_message.SMS_DELIVERED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter> 
        </receiver>
        
        <receiver android:name="com.klinker.android.messaging_sliding.receivers.NotificationReceiver" >
            
        </receiver>

        <receiver android:name="com.klinker.android.messaging_sliding.receivers.RnrseReceiver" >
            <intent-filter>
                <action android:name="com.klinker.android.send_message.RNRSE" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.klinker.android.messaging_donate.receivers.UnlockReceiver"
                  android:enabled="true" >
            <intent-filter android:enabled="true" android:exported="false">
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.klinker.android.messaging_sliding.receivers.OnBootReceiver"
                  android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.klinker.android.messaging_sliding.receivers.DeliveryReceiver" >
            <intent-filter>
                <action android:name="com.klinker.android.send_message.NOTIFY_DELIVERY" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.klinker.android.messaging_sliding.receivers.SendErrorReceiver" >
            <intent-filter>
                <action android:name="com.klinker.android.send_message.NOTIFY_SMS_FAILURE" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.klinker.android.messaging_sliding.receivers.VoicePushReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.GTALK_DATA_MESSAGE_RECEIVED" />
                <category android:name="com.google.android.apps.googlevoice.INBOX_NOTIFICATION" />
                <category android:name="com.google.android.apps.googlevoice.GOOGLE_VOICE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.REMOTE_INTENT" />
                <category android:name="com.google.android.apps.googlevoice.INBOX_NOTIFICATION" />
                <category android:name="com.google.android.apps.googlevoice.GOOGLE_VOICE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.google.android.apps.googlevoice.INBOX_NOTIFICATION" />
                <category android:name="com.google.android.apps.googlevoice.GOOGLE_VOICE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.google.android.apps.googlevoice" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.google.android.apps.googlevoice" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.apps.googlevoice.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.klinker.android.messaging_donate.widget.CardWidgetProvider" >
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		    
		    <intent-filter>
		        <action android:name="com.klinker.android.messaging.UPDATE_WIDGET" />
		    </intent-filter>
		    
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/card_widget" />
		</receiver>

        <receiver android:name="com.klinker.android.messaging_donate.widget.CardWidgetProvider2" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.klinker.android.messaging.UPDATE_WIDGET" />
            </intent-filter>

            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/unread_widget" />
        </receiver>

        <receiver android:name="com.klinker.android.messaging_donate.widget.SlideoverWidget"
                android:label="@string/slideover_settings"
                android:icon="@drawable/halo_bg">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/halo_widget" />
        </receiver>
		
        <service android:name="com.klinker.android.messaging_donate.widget.CardWidgetService"
			android:permission="android.permission.BIND_REMOTEVIEWS" />
        
        <activity android:name="com.klinker.android.messaging_donate.widget.CardWidgetSettingsActivity"
                android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
                android:allowTaskReparenting="false"
                android:taskAffinity="">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
		    </intent-filter>
		</activity>

        <receiver android:name="com.klinker.android.messaging_donate.floating_notifications.FNReceiver" >
            <intent-filter>
                <action android:name="robj.floating.notifications.isExtension" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.klinker.android.messaging_donate.FNRECEIVED" />
            </intent-filter>

            <meta-data android:name="label" android:value="@string/app_name" />
            <meta-data android:name="desc" android:value="@string/fn_extension_description" />
            <meta-data android:name="id" android:value="0" />
        </receiver>

        <receiver android:name="com.klinker.android.messaging_donate.floating_notifications.FNAction" >
            <intent-filter android:priority="99">
                <action android:name="robj.floating.notifications.extension" />
            </intent-filter>
        </receiver>

        <receiver android:name="robj.floating.notifications.EnabledReceiver">
            <intent-filter>
                <action android:name="robj.floating.notifications.extension.ENABLED"></action>
                <action android:name="robj.floating.notifications.extension.DISABLED"></action>
            </intent-filter>
        </receiver>

        <activity
                android:name="com.klinker.android.messaging_donate.floating_notifications.EmojiDialogActivity"
                android:label="@string/slide_over"
                android:theme="@android:style/Theme.Holo.Dialog"
                android:configChanges="orientation|screenSize"
                android:hardwareAccelerated="true"
                android:launchMode="singleInstance"
                android:windowSoftInputMode="adjustResize"
                android:taskAffinity=""
                android:excludeFromRecents="true"
                android:noHistory="true"
                android:exported="true"
                tools:ignore="ExportedActivity" >
            <intent-filter>
                <action android:name="robj.floating.notifications.extension" />
            </intent-filter>
        </activity>
    </application>
</manifest>