<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="com.klinker.android.messaging_donate"
    android:versionCode="139"
    android:versionName="6.12" >
    
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.provider.Telephony.SMS_RECEIVED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
 	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
 	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
 	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
 	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 	<uses-permission android:name="android.permission.INTERNET" />
 	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="ExportedActivity"
        android:hardwareAccelerated="true">
        
        <uses-library android:required="false" android:name="com.sec.android.app.multiwindow" />
		<meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
		
		<activity
		    android:name=".MainActivity"
		    android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.APP_MESSAGING" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/mms" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android-dir/mms-sms" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
            <intent-filter>
               <action android:name="android.intent.action.SEND" />
               <category android:name="android.intent.category.DEFAULT" />
               <data android:mimeType="image/*" />
           </intent-filter>
		</activity>
		
		<activity
            android:name="com.klinker.android.messaging_card.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/CardTheme"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true" >
        </activity>
		
        <activity
            android:name="com.klinker.android.messaging_sliding.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true" >
        </activity>
        
        <activity
            android:name="com.klinker.android.messaging_sliding.QuickReply"
            android:label="@string/quick_reply"
            android:theme="@android:style/Theme.Dialog"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:excludeFromRecents="true" >
        </activity>
        
        <activity
            android:name="com.klinker.android.messaging_card.QuickReply"
            android:label="@string/quick_reply"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        
        <activity
            android:name="com.klinker.android.messaging_sliding.ImageViewer"
            android:label="@string/image_viewer"
            android:theme="@style/AppTheme" >
        </activity>

        <activity
            android:name="com.klinker.android.messaging_sliding.SettingsPagerActivity"
            android:label="@string/menu_settings"
            android:theme="@style/SettingsTheme"
            android:excludeFromRecents="true" >
        </activity>
        
        <activity
            android:name="com.klinker.android.messaging_sliding.TitleBarSettingsActivity"
            android:label="@string/title_bar_settings"
            android:theme="@style/SettingsTheme" >
        </activity>

        <activity
            android:name="com.klinker.android.messaging_sliding.theme.CustomFontSettingsActivity"
            android:label="@string/ct_custom_font"
            android:theme="@style/SettingsTheme" >
        </activity>
        
        <activity
            android:name="com.klinker.android.messaging_sliding.mms.APNSettingsActivity"
            android:label="@string/preset_apns"
            android:theme="@style/SettingsTheme" >
        </activity>

        <activity
            android:name="com.klinker.android.messaging_sliding.MmsSettingsActivity"
            android:label="@string/mms_settings"
            android:theme="@style/SettingsTheme" >
        </activity>
        
        <activity
            android:name="com.klinker.android.messaging_sliding.theme.CustomThemeActivity"
            android:label="@string/custom_theme_prefs"
            android:theme="@style/SettingsTheme" >
        </activity>

        <activity
            android:name="com.klinker.android.messaging_card.theme.CustomPopupActivity"
            android:label="@string/custom_theme_prefs"
            android:theme="@style/SettingsTheme" >
        </activity>


        <activity
            android:name="com.klinker.android.messaging_card.theme.PopupChooserActivity"
            android:label="@string/popup_theme"
            android:theme="@style/SettingsTheme" >
        </activity>
        
        <activity
            android:name="com.klinker.android.messaging_sliding.theme.DefaultThemeActivity"
            android:label="@string/default_theme_prefs"
            android:theme="@style/SettingsTheme" >
        </activity>
        
        <activity
            android:name="com.klinker.android.messaging_sliding.theme.ThemeChooserActivity"
            android:label="@string/theme_chooser_prefs"
            android:theme="@style/SettingsTheme" >
        </activity>
        
        <activity 
            android:name="com.klinker.android.messaging_card.GroupActivity"
            android:excludeFromRecents="true"
            android:theme="@style/CardTheme" >
        </activity>
        
        <activity
            android:name="com.klinker.android.messaging_card.BatchDeleteActivity"
            android:excludeFromRecents="true"
            android:theme="@style/CardTheme" >
        </activity>
        
        <activity 
            android:name="com.klinker.android.messaging_sliding.TemplateActivity"
            android:excludeFromRecents="true"
            android:theme="@style/SettingsTheme" >
        </activity>
        
        <activity 
            android:name="com.klinker.android.messaging_sliding.notifications.NotificationsSettingsActivity"
            android:label="@string/individual_notification_settings"
            android:theme="@style/SettingsTheme" >
        </activity>
        
        <activity 
            android:name="com.klinker.android.messaging_sliding.notifications.ContactFinderActivity"
            android:label="@string/find_contact"
            android:theme="@style/SettingsTheme" >
        </activity>
        
        <activity 
            android:name="com.klinker.android.messaging_sliding.notifications.NotificationSetterActivity"
            android:theme="@style/SettingsTheme" >
        </activity>
        
        <activity 
            android:name="com.klinker.android.messaging_sliding.blacklist.BlacklistActivity"
            android:label="@string/blacklist_settings"
            android:theme="@style/SettingsTheme" >
        </activity>
        
        <activity 
            android:name="com.klinker.android.messaging_sliding.blacklist.NewBlacklistActivity"
            android:theme="@style/SettingsTheme" >
        </activity>
        
        <activity 
            android:name="com.klinker.android.messaging_sliding.AttachMore"
            android:label="@string/attach_more">
        </activity>

        <activity
            android:name="com.klinker.android.messaging_donate.WidgetProxyActivity" >
        </activity>
        
        <activity 
            android:name="com.klinker.android.messaging_sliding.SendMessage"
            android:label="@string/app_name"
            android:theme="@style/QuickSendTheme"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:noHistory="true"
            tools:ignore="ExportedActivity" >
        	
            <intent-filter>
   				<action android:name="android.intent.action.SEND" />
   				<category android:name="android.intent.category.DEFAULT" />
   				<data android:mimeType="text/*" />
			</intent-filter>
        </activity>

        <activity
            android:name="wizardpager.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/WizardTheme" >
        </activity>

        <activity
            android:name="com.klinker.android.messaging_sliding.PasswordActivity"
            android:label="@string/app_name"
            android:theme="@style/WizardTheme" >
        </activity>

        <activity
                android:name="com.klinker.android.messaging_sliding.SetPasswordActivity"
                android:label="@string/app_name"
                android:theme="@style/WizardTheme" >
        </activity>
        
        <service 
            android:name="com.klinker.android.messaging_sliding.QmMarkRead2" >
        </service>
        
        <service 
            android:name="com.klinker.android.messaging_sliding.QmDelete" >
        </service>

        <service
            android:name="com.klinker.android.messaging_sliding.QuickTextService" >
        </service>

        <service
            android:name="com.klinker.android.messaging_sliding.DeleteOldService" >
        </service>
        
        <service
            android:name="com.klinker.android.messaging_sliding.ConversationSaverService" >
        </service>
        
        <service
            android:name="com.klinker.android.messaging_sliding.NotificationRepeaterService" >
        </service>
        
        <service
            android:name="com.klinker.android.messaging_donate.CardWidgetProvider$CardWidgetService2" >
        </service>

        <service
            android:name="com.klinker.android.messaging_donate.CardWidgetProvider2$CardWidgetService3" >
        </service>
        
        <service android:name=".MessageDashClockExtension"
     		android:icon="@drawable/ic_launcher"
     		android:label="@string/extension_title"
     		android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA" >
     		<intent-filter>
         		<action android:name="com.google.android.apps.dashclock.Extension" />
     		</intent-filter>
     		<meta-data android:name="protocolVersion" android:value="1" />
     		<meta-data android:name="description"
         			   android:value="@string/extension_description" />
     		<meta-data android:name="settingsActivity"
     		           android:value=".DashClockSettings" />
		</service>
		
        <activity
            android:name=".DashClockSettings"
            android:label="@string/app_name"
            android:theme="@style/SettingsTheme"
            android:exported="true" />
        
        <receiver android:name="com.klinker.android.messaging_sliding.TextMessageReceiver" > 
            <intent-filter android:priority="2"> 
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter> 
        </receiver>
        
        <receiver android:name="com.klinker.android.messaging_sliding.MMSMessageReceiver"
            	  android:permission="android.permission.BROADCAST_WAP_PUSH" > 
            <intent-filter android:priority="2"> 
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
                <data android:mimeType="application/vnd.wap.mms-message" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter> 
        </receiver>
        
        <receiver android:name=".SentReceiver" > 
            <intent-filter android:priority="-10"> 
                <action android:name="SMS_SENT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter> 
        </receiver>
        
        <receiver android:name=".DeliveredReceiver" > 
            <intent-filter android:priority="-10"> 
                <action android:name="SMS_DELIVERED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter> 
        </receiver>
        
        <receiver android:name="com.klinker.android.messaging_sliding.NotificationReceiver" > 
            
        </receiver>
        
        <receiver android:name="com.klinker.android.messaging_sliding.OnBootReceiver"
                  android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        
        <receiver android:name=".CardWidgetProvider" >
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		    
		    <intent-filter>
		        <action android:name="com.klinker.android.messaging.UPDATE_WIDGET" />
		    </intent-filter>
		    
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/card_widget" />
		</receiver>

        <receiver android:name=".CardWidgetProvider2" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.klinker.android.messaging.UPDATE_WIDGET" />
            </intent-filter>

            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/unread_widget" />
        </receiver>
		
        <service android:name=".CardWidgetService"
			android:permission="android.permission.BIND_REMOTEVIEWS" />
        
        <activity android:name=".CardWidgetSettingsActivity">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
		    </intent-filter>
		</activity>
    </application>

</manifest>